@use "../../sass/variables";

.getstarted {
  margin-top: 40px;
  &__enable,&__disable {
    margin: 25px 0;
    padding: 30px 20px;
    border-radius: 10px;
    border: 1px solid rgba($color: variables.$DarkGray, $alpha: 0.5);
  }
  &__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__title{
    font-size: 1.2rem;
    font-weight: 700;
  }
  &__subtitle{
    color:rgba($color: variables.$ModerateCyan, $alpha: 1);
    font-weight: 700;
  }
  &__number{
    display: flex;
    align-items: center;
    gap: 10px;
    // margin: -1.33em 0 !important;
    font-size: 2.2rem;
    font-weight: 700;
  }
  &__disable {
    border: 1px solid rgba($color: variables.$DarkGray, $alpha: 0.2);
    opacity: 0.5;
    &__btn{
      background-color: rgba($color: variables.$DarkGray, $alpha: 1) !important;
    }
  }
  @media(max-width:414px){
    &__enable,&__disable {
      padding: 25px 20px;
    }
    &__group{
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
    &__title{
      font-size: 1rem;
    }
    &__subtitle{
      font-size: 1rem;
    }
  }
}
