@use "variables";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Commissioner", sans-serif;
  font-size: 16px;
}
body{
  background-color: variables.$LightGray;
}

.text {
  margin: 20px 0;
  line-height: 25px;
  color: rgba($color: variables.$DarkGray, $alpha: 0.9);
  font-weight: 400;
}

.btn {
  background-color: variables.$ModerateCyan;
  padding: 18px 40px;
  border-radius: 50px;
  color: white;
  font-weight: 700;
  border: none;
  cursor: pointer;
  &:hover {
    background-color: variables.$DarkCyan;
    transition: 0.3s all ease-in;
  }
  @media (max-width:414px) {
    font-size: 14px;
    padding: 14px 30px;
  }
}

.border{
  margin: 25px 0;
  padding: 30px 20px;
  border-radius: 10px;
  border: 1px solid rgba($color: variables.$DarkGray, $alpha: 0.5);
}