@use "../../sass/variables";
.thisproject {
  padding: 35px;
  &__title {
    font-size: 1.8rem;
  }
  &__checked{
    font-size: 1.1rem;
    font-weight: 700;
    transition: 0.3s color ease ;
    &:hover{
    color: variables.$ModerateCyan;
    }
  }
}
.pledge {
  &__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__content{
    &__checked{
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer; 
    }
    &__title{
        font-size: 1.1rem;
        font-weight: 700;
        transition: 0.3s color ease ;
        &:hover{
        color: variables.$ModerateCyan;
        }
    }
    &__subtitle{
        font-size: 1.1rem;
        font-weight: 700;
        color: variables.$ModerateCyan;
    }
  }
  &__number{
    display: flex;
    align-items: center;
    gap: 10px;
    // margin: -1.33em 0 !important;
    font-size: 2.2rem;
    font-weight: 700;
  }
}
