@use "../../sass/variables";

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  &.width{
    width: 450px !important;
  }
  &__container,&__container-width,&__container-menu {
    margin: 185px auto;
    padding: 30px 20px;
    border-radius: 10px;
    width: 730px;
    background-color: rgba($color: white, $alpha: 1);
    &-width{
      width: 450px;
    }
    &-menu{
      margin: 5px auto !important;
    }
    &__close {
      float: right;
      font-size: 28px;
      font-weight: bold;
    }
  }
  @media(max-width: 414px){
    &__navbar {
      // margin: 0 10px;
      padding: 30px 22px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &__container,&__container-width {
      width: 327px;
      margin: 120px auto;
      padding: 25px 20px;
    }
    &__container-menu {
      width: 327px;
      padding: 0 ;
    }
  }
}
