@use "../../sass/variables";

.bar {
  height: 12px;
  margin: 25px 0 0;
  // border: 1px solid variables.$ModerateGray;
  border-radius: 15px;
  background-color: #f4f4f4;
  &__progress {
    height: 12px;
    margin: -1px 0 0 0;
    // border: 1px solid variables.$ModerateGray;
    border-radius: 15px;
    background-color: variables.$ModerateCyan;
  }
}
