@use "./sass/variables";

.main {
  width: 1440px;
  margin: auto;

  &__mastrercraft {
    width: 730px;
    margin: -105px auto 0;

    &__section {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: white;
      border: 1px solid rgba($color: variables.$DarkGray, $alpha: 0.2);
      border-radius: 10px;
      &__logo {
        margin: -28px 0 15px 0;
      }
      &__title {
        font-size: 1.8rem;
        font-weight: 700;
        margin: 15px;
      }
      &__group {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: center;
        padding: 50px;
      }
      &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border: none;
        background-color: white;
        color: variables.$DarkCyan;
        font-weight: 700;
        cursor: pointer;
        & > svg > g > circle {
          fill: variables.$DarkCyan;
        }
        & > svg > g > path {
          fill: white;
        }
        &:hover {
          color: variables.$DarkGray;
          & > svg > g > circle {
            fill: rgba($color: variables.$DarkGray, $alpha: 1);
          }
          & > svg > g > path {
            fill: hsl(0, 0%, 73%);
          }
        }
      }
    }
  }

  @media (max-width: 414px) {
    width: 375px;
  }
}
