@use "./sass/variables";

.main {
  width: 1440px;
  margin: auto;

  &__mastrercraft {
    width: 730px;
    margin: -105px auto 0;

    &__section {
      display: flex;
      align-items: center;
      flex-direction: column;
      background-color: white;
      border: 1px solid rgba($color: variables.$DarkGray, $alpha: 0.2);
      border-radius: 10px;
      &__logo {
        margin: -28px 0  15px 0;
      }
      &__title {
        font-size: 1.8rem;
        font-weight: 700;
        margin: 15px;
      }
    }
  }

  @media (max-width: 414px) {
    width: 375px;
  }
}
