@use "../../sass/variables";

.mastercraft__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border: 1px solid rgba($color: variables.$DarkGray, $alpha: 0.2);
  border-radius: 10px;
  margin-bottom: 30px;
  &__logo {
    margin: -28px 0 15px 0;
  }
  &__title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 15px;
  }
  &__group {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 30px 50px 40px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 30px 0 0;
    border-radius: 50px;
    border: none;
    background-color: #f4f8f9;
    color: variables.$DarkGray;
    font-weight: 700;
    cursor: pointer;
    &:hover {
      color: variables.$DarkGray;
      transition: 0.3s all ease-in;
      & > svg > g > circle {
        fill: rgba($color: variables.$DarkGray, $alpha: 1);
      }
      & > svg > g > path {
        fill: hsl(0, 0%, 73%);
      }
    }
    &.select {
      color: variables.$DarkCyan;
      transition: 0.3s all ease-in;
      & > svg > g > circle {
        fill: variables.$DarkCyan;
      }
      & > svg > g > path {
        fill: white;
      }
      &:hover {
        color: variables.$DarkGray;
        transition: 0.3s all ease-in;
        & > svg > g > circle {
          fill: rgba($color: variables.$DarkGray, $alpha: 1);
        }
        & > svg > g > path {
          fill: hsl(0, 0%, 73%);
        }
      }
    }
  }

  @media (max-width: 414px) {
    &__title {
      font-size: 1.4rem;
      text-align: center;
    }
    &__text {
      margin: 5px 0 !important;
      text-align: center;
      padding: 0 25px;
      font-size: 14px;
    }
    &__btn {
      all: initial;
      & > svg > g > circle {
        fill: initial;
      }
      & > svg > g > path {
        fill: #b1b1b1;
      }
      &:hover {
        color: variables.$DarkGray;
        transition: 0.3s all ease-in;
        & > svg > g > circle {
          fill: rgba($color: variables.$DarkGray, $alpha: 1);
        }
        & > svg > g > path {
          fill: hsl(0, 0%, 73%);
        }
      }
      &.select {
        color: variables.$DarkCyan;
        transition: 0.3s all ease-in;
        & > svg > g > circle {
          fill: rgba($color: variables.$DarkGray, $alpha: 1);
        }
        & > svg > g > path {
          fill: hsl(0, 0%, 73%);
        }
      }
    }
  }
}
